extend layout.pug
block content
  h1 Historical Weather Visualizations
  h2 
    a(href='/precipplot') Precipitation Plots
  h2
    a(href='/belowtemp') Number of Days Below N Degrees
  h2
    a(href='/mintemp') Minimum Annual Temp
