doctype
html
  head
    title #{title} - Daily Precipitation
    link(rel='stylesheet', href='/stylesheets/sitestyle.css')
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400,700")
    link(rel="stylesheet", href="http://yandex.st/highlightjs/7.3/styles/default.min.css")
    script(src="http://yandex.st/highlightjs/7.3/highlight.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", type="text/javascript")

  body
    .container
      .main-content
        block content
